/* src/Components/PrivacyPolicy/Privacy.css */

.privacy-container {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color: #fff;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  padding-top: 120px; /* Space below navbar */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h1.title {
  font-size: 32px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #000;
  margin-bottom: 10px;
}

p.effective-date {
  font-style: italic;
  color: #080808;
  margin-bottom: 20px;
}

.head-one {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #020202;
  font-size: 25px;
  margin-top: 20px;
}

.head-two {
  font-weight: 450;
  font-family: "Inter", sans-serif;
  color: #020202;
  font-size: 20px;
  margin-top: 20px;
}

.privacy-p {
  margin-bottom: 15px;
  color: #000;
  max-width: 1100px;
  text-align: left;
}

ul {
  margin-bottom: 15px;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  color: #3498db;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

@media (max-width: 768px) {
  .privacy-container {
    padding: 15px;
    padding-top: 90px;
  }

  h1.title {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .privacy-container {
    width: 90%;
    padding: 10px;
    padding-top: 70px;
  }

  h1.title {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.1rem;
  }
}
